.container{
    font-family: Open sans-serif;    
    height: 200px;
    width: 400px;
    margin:0 auto;
}
.login-link a{
    color:#ffffff;
}
div.container2{
    text-align: center;
    color: white;
    padding: 16px;
}
.pas{
 background-color: transparent;
    color: whitesmoke;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}
.user{
     background-color: transparent;
    color: whitesmoke;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}
/*h2{
    width:89px;
    height:49px;
}

h2{
    text-align: center;
    color: white;
}
h4{
    text-align: center;
    color:white;
}*/

label.username{
    width: 86px;
    height: 24px;
    overflow-x: 754px;
    overflow-y: 485px;
    size: 18px;
    align-content: left;
    color: white;
    float: left;

}
label.password{
    width: 79px;
    height: 24px;
}
button.subm{
    border-radius: 24px;
    width: 100px;
    height: 42px;
    border: 1px;
    opacity: 100%;
    
    
}

