.btn-black{
    color: #ffffff;
    background-color: #333333;
    border: 1px solid #333333;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    cursor:pointer;
    background-image:  url('../images/slot.png');
}
.btn-black:hover{
    /* opacity: 0.8; */
    background: #000000;
}
.left{
    float:left;
    margin:10px;
}